.git
.gitignore
.idea
.DS_Store
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/app/public
bootstrap/cache/*.php
database/*.sqlite
docker-compose.yml
screenshots
README.md
tests
